extends layout

block content
    .inner
        h2= title
        form.form(action='/register' method="POST")
            h2 Register

            label(for="name") Name
            input(type="name" name="name")

            label(for="email") Email Address
            input(type="email" name="email")

            label(for="password") Password
            input(type="password" name="password")

            label(for="confirm-password") Confirm Password
            input(type="password" name="confirm-password")

            input.button(type="submit" name="Register")